* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
}

svg {
    width: 50px;
    height: 50px;
}


/* Mobile Layout (320px) */

.grid-container {
    display: grid;
    max-width: 320px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

/* Header */

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.65;
    padding: 5px;
    background-color: #0d457e;
    color: #fff;
    font-size: 60%;
}

.logo span{
    font-weight: bold;
    font-size: 20px;
}

.main-wrapper {
    display: flex;
    margin: auto 20px;
}

.main-wrapper #layer_1 {
    margin-top: 5px;
    
}

.profile-img {
    display: inline-block;
    object-fit: cover;
    margin: 0 5px;
    border-radius: 50%;
}

.main-wrapper h3 {
    display: flex;
    margin: auto 0;
    font-size: 10px
}

p {
    text-align: center;
    font-size: 15px;
    line-height: 0.95em;
    padding: 10px;
    word-spacing: 1px;
}

ul {
    padding: 0;
    margin: 0;
}

.bell-circle {
    border: 1px solid lime;
    background-color: lime;
    border-radius: 50%;
    margin-right: 10px;
    width: 8px;
    height: 8px;
}

.bell-svg {
    width: 25px;
    height: 40px;
}

.bell {
    cursor: pointer;
    transition: .5s;
}



/* Main Nav */

.main-nav {
    grid-area: navigation;
    text-align: center;
    background-color: #1b1b1b; 
}

.main-nav a {
    display: inline;
}

.main-nav img {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
}


/* Main */

.main {
    grid-area: main;
}

.main-header {
    display: flex;
}

.main-header h2 {
    margin: 10px;
}

.search {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    width: 90%;
}

.main-header-search {
    float: right;
    background-color: #555a59;
    padding: 3px;
    border-bottom-left-radius: 5px;
}

/* alert banner */

.alert {
    width: calc(100% - 20px);
    border: solid 1px #0d457e;
    background-color: #0d457e;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 15px 10px;
    font-size: 13px;
}

.alert--close {
    border-style: none;
    background-color: #0d457e;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

/* Traffic graph */

.traffic {
    display: inline;
}

.traffic-header {
    margin: 10px;
}

.traffic-nav {
    margin: 15px auto;
    float: right;
}

.traffic-nav li {
    display: inline;
    padding: 5px;
    border-radius: 10px;
    
}

.traffic-nav li:hover {
    background-color: #00c400;
    color: #fff;
}

.widget-container-full {
    margin-top: 5px;
}
